*.pyc

.DS_Store
.idea
.pypirc
.conda

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
_build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.pytest_cache

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
venv
.venv
.vscode

# Ruff cache
.ruff_cache


# Local debug
_docs
tests/localdebug
requirements_poetry.txt
tmp