<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>外国专家：中美合作共赢符合国际社会利益 - 中国日报网</title>
    <meta name="keywords" />
    <meta name="description" content="在美国旧金山举行的中美元首会晤吸引了全世界的目光。多名外国专家告诉《中国日报》，中美合作共赢符合国际社会利益，美方应当采取更多行动。" />
    
      <meta property="og:xi" content="0" />
      <meta property="og:title" content="外国专家：中美合作共赢符合国际社会利益" />
      <meta property="og:recommend" content="0" />
      <meta property="og:url" content="https://china.chinadaily.com.cn/a/202311/17/WS65571297a310d5acd876f404.html" />
      <meta property="og:image" content="http://img3.chinadaily.com.cn/images/202311/17/65571373a310d5acb853dcab.jpeg" />
      
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@ChinaDailyApp" />
      <meta name="twitter:title" content="外国专家：中美合作共赢符合国际社会利益" />
      <meta name="twitter:description" content="在美国旧金山举行的中美元首会晤吸引了全世界的目光。多名外国专家告诉《中国日报》，中美合作共赢符合国际社会利益，美方应当采取更多行动。" />
      
        
        
        
        <meta name="twitter:image:src" content="http://img3.chinadaily.com.cn/images/202311/17/65571373a310d5acb853dcab.jpeg" />
        
        
        
        <meta name="twitter:image" content="http://img3.chinadaily.com.cn/images/202311/17/65571373a310d5acb853dcab.jpeg" />
      
      
      
        <meta property="twitter:image" content="https://www.chinadaily.com.cn/image_e/2020/logo21.jpg" />
        <meta property="twitter:image:src" content="https://www.chinadaily.com.cn/image_e/2020/logo21.jpg" />
      
      
      <meta name="shareImg" content="//img3.chinadaily.com.cn/images/202311/17/65571373a310d5acb853dcab.jpeg" />
      <meta name="msapplication-TileImage" content="https://img2.chinadaily.com.cn/static/common/img/sharelogo2.jpg" />
      <link rel="apple-touch-icon-precomposed" href="https://img2.chinadaily.com.cn/static/common/img/sharelogo2.jpg" />
    
    <link rel="stylesheet" charset="utf-8" href="//img3.chinadaily.com.cn/static/2018cn_artiandcolumn/css/articstyle.css?ver=51" />
    <link rel="stylesheet" charset="utf-8" href="//img3.chinadaily.com.cn/static/2018cn_artiandcolumn/css/adDetail.css" />
    <link rel="stylesheet" charset="utf-8" href="//img3.chinadaily.com.cn/static/common/css/share_cncontent.css?ver=13" />
    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img3.chinadaily.com.cn/static/common/js/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img3.chinadaily.com.cn/static/common/js/jweixin-1.0.0.js"></script>
    <script src="https://share.chinadaily.com.cn/wxshare/js/jsonps.js" xml:space="preserve"></script>
    <script type="text/javascript" xml:space="preserve" src="//img3.chinadaily.com.cn/static/2018cn_artiandcolumn/js/respond.min.js"></script>
    <script type="text/javascript" xml:space="preserve" src="//img3.chinadaily.com.cn/static/2018cn_artiandcolumn/js/ewm2.js"></script><!--返回顶部-->
    <script type="text/javascript" xml:space="preserve" src="//img3.chinadaily.com.cn/static/2018cn_artiandcolumn/js/touch.js"></script><!-- 引入手机端点击js -->
    <!--  <script type="text/javascript" src="//cn.chinadaily.com.cn/js/sso.js"></script> 			-->
    <script type="text/javascript" charset="utf-8" xml:space="preserve" src="//img3.chinadaily.com.cn/static/2018cn_artiandcolumn/js/index_js.js"></script>

    
      <meta name="articaltype" content="COMPO" />
      <meta name="filetype" content="1" />
      <meta name="publishedtype" content="1" />
      <meta name="pagetype" content="1" />
      <meta name="catalogs" content="5bd5669ba3101a87ca8ff666" />
      <meta name="contentid" content="WS65571297a310d5acd876f404" />
      <meta name="publishdate" content="2023-11-17" />
      <meta name="editor" content="严玉洁" />
      <meta name="author" content="严玉洁" />
      <meta name="source" content="中国日报网" />

      <!--来源-->
      <meta name="webterren_speical" content="5" />
      <meta name="sourcetype" content="5" />
    
    <script type="text/javascript" xml:space="preserve">
      //<![CDATA[
      function GetUrl(){
        var CurUrl = location.href ;
        var DesUrl = 'https://usercenter.chinadaily.com.cn?service='+ CurUrl;
        window.open(DesUrl);
      }
      //]]>
    </script>
    <!--   <script type="text/javascript" language="javascript" src="//cn.chinadaily.com.cn/js/taboolahead.js"></script>
<script type="text/javascript" language="javascript" src="//cn.chinadaily.com.cn/js/taboolacontrol_art.js"></script>		-->
  </head>

  <body>
    <div style="display:none;">
      <img src="https://img2.chinadaily.com.cn/static/common/img/sharelogo2.jpg" />
      <h1>外国专家：中美合作共赢符合国际社会利益</h1>
      <h2>在美国旧金山举行的中美元首会晤吸引了全世界的目光。多名外国专家告诉《中国日报》，中美合作共赢符合国际社会利益，美方应当采取更多行动。</h2>
    </div>
    <script type="text/javascript" xml:space="preserve">

      function is_weixin(){
        var ua = navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i)=="micromessenger") {
          return true;
        } else {
          return false;
        }
      }
      var url =location.href;
      if(is_weixin()){
        console.log("微信验证");
        $.post('https://share.chinadaily.com.cn/wxshare/api/wxinit', {url:url}, function(data){
          wx.config({
            debug: false,
            appId: data.appid,
            timestamp: data.timestamp,
            nonceStr: data.noncestr,
            signature: data.sign,
            jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage']
          }),
            wx.ready(function(){
            console.log("微信验证成功!");
            wx.onMenuShareTimeline({
              title: '\u5916\u56FD\u4E13\u5BB6\uFF1A\u4E2D\u7F8E\u5408\u4F5C\u5171\u8D62\u7B26\u5408\u56FD\u9645\u793E\u4F1A\u5229\u76CA',
              link: url,
              imgUrl: 'https://img3.chinadaily.com.cn/static/common/img/sharelogo.png'
            });
            var data = {
              title: '\u5916\u56FD\u4E13\u5BB6\uFF1A\u4E2D\u7F8E\u5408\u4F5C\u5171\u8D62\u7B26\u5408\u56FD\u9645\u793E\u4F1A\u5229\u76CA',
              desc:  '\u5728\u7F8E\u56FD\u65E7\u91D1\u5C71\u4E3E\u884C\u7684\u4E2D\u7F8E\u5143\u9996\u4F1A\u6664\u5438\u5F15\u4E86\u5168\u4E16\u754C\u7684\u76EE\u5149\u3002\u591A\u540D\u5916\u56FD\u4E13\u5BB6\u544A\u8BC9\u300A\u4E2D\u56FD\u65E5\u62A5\u300B\uFF0C\u4E2D\u7F8E\u5408\u4F5C\u5171\u8D62\u7B26\u5408\u56FD\u9645\u793E\u4F1A\u5229\u76CA\uFF0C\u7F8E\u65B9\u5E94\u5F53\u91C7\u53D6\u66F4\u591A\u884C\u52A8\u3002',
              link: url,
              imgUrl: 'https://img3.chinadaily.com.cn/static/common/img/sharelogo.png'
            };
            wx.onMenuShareAppMessage(data);
          }),
            wx.error(function(res){
            console.log("微信验证失败!");
          })
        });
      }



      $(document).ready(function(){
        $("ul li").each(function(){
          var attrObj = $(this).find('img').attr("data-caption");
          if(attrObj == undefined){
            attrObj ='';
          }
          $(this).append("<p>"+attrObj+"</p>");
        });   
        $(".footer-download .close").click(function(){
          $(".footer").hide();
        })
      });
    </script>
    <div id="all">


      <!--灰色背景-->
      <div class="tophui2">
        <div class="tophui-cont">
          <!--频道页导航-->
          
      <div class="pingdaolink">
        <!--左边导航-->
        <div class="pingdao-lef">
          <ul>
            <li><a href="https://www.chinadaily.com.cn/" target="_blank">China Daily Homepage</a></li>
            <li><a href="https://cn.chinadaily.com.cn/" target="_blank">中文网首页</a></li>
            <li><a href="https://china.chinadaily.com.cn/" target="_blank">时政</a></li>
            <li><a href="https://world.chinadaily.com.cn/" target="_blank">资讯</a></li>
            <li><a href="https://caijing.chinadaily.com.cn/" target="_blank">C财经</a></li>
            <li><a href="https://fashion.chinadaily.com.cn/" target="_blank">生活</a></li>
            <li><a href="https://kan.chinadaily.com.cn/" target="_blank">视频</a></li>
            <li><a href="https://column.chinadaily.com.cn/" target="_blank">专栏</a></li>
            <li><a href="https://language.chinadaily.com.cn/" target="_blank">双语</a></li>
            <li><a href="https://cn.chinadaily.com.cn/yuanchuang/" target="_blank">原创</a></li>
            <li style="border:none;"><a href="https://cn.chinadaily.com.cn/gtx/" target="_blank">观天下</a></li>
          </ul>
        </div>
        <!--右侧注册登录-->
        <!--  <script type="text/javascript" cms:pr-src="common/js/login.js"></script>	-->
        <div class="pingdao-ri">
          <div class="lo-rig-to" id="successCallBack">
            <div class="lo-ri-two">
              <a href="javascript:void(0)" onclick="aria.start()"><img style="width:18px; height:auto;" src="//img3.chinadaily.com.cn/static/common/img/wza.png" /></a>
            </div>
            <!--  <div class="lo-ri-two">
<a href="javascript:GetUrl();" id="login1001">登录</a>
</div>	-->
            <div class="lo-ri-two">
              <a href="//usercenter.chinadaily.com.cn/regist" target="_blank" id="login1002">注册</a>
            </div>
          </div>
        </div>

      </div>
    
          <!--logo头部-->
          <div class="dingtou">
            <!--logoleft-->
            <div class="logo2">
              <a href="https://cn.chinadaily.com.cn/" target="_blank" shape="rect"><img src="//www.chinadaily.com.cn/image_c/2018/j-2.jpg" /></a>
            </div>
            <!--文章页面包导航-->
            <div class="da-bre">
              
                
                  <a target="_blank" shape="rect" href="//china.chinadaily.com.cn/5bd5639ca3101a87ca8ff634">评论</a>
                
                
                <a target="_blank" shape="rect" href="https://china.chinadaily.com.cn/5bd5639ca3101a87ca8ff634/5bd5669ba3101a87ca8ff666"> &gt; 海外观察</a>
              
            </div>
            <!--logoright-->
            <div class="logo-right">

              
      <div class="logo-right"> 
        <div class="lo-rig-bott">
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td><div class="lo-bott-one"><a href="https://www.chinadaily.com.cn/mobile_cn/index.html" target="_blank">移动新媒体</a></div></td>
              <td>
                <table cellpadding="0" cellspacing="0">
                  <tr>
                    <td><div class="search radius6">
                      <form name="searchform" method="post" action="https://newssearch.chinadaily.com.cn/cn/search" target="_blank" onsubmit="return do_search(this)" id="searchform">
                        <input name="ecmsfrom" type="hidden" value="9" />
                        <input type="hidden" name="show" value="title,newstext" />
                        <div class="select_box">
                          <div class="select_showbox" style="background:none;">站内搜索</div>
                          <ul class="select_option">
                            <li class="option-item" data-value="1">站内搜索</li>
                          </ul>
                        </div>
                        <input class="inp_srh" type="text" id="searchtxt" value="" name="query" onfocus="clearword(this)" />
                        <img src="https://cn.chinadaily.com.cn/image/2015/j-q.jpg" id="searchimg" onclick="javascript:searchform.submit()" />
                      </form>
                      <script>
                        //<![CDATA[
                        function clearword(obj){
                          obj.value = ''; 
                        }
                        //]]>
                      </script>
                      </div></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>

    

            </div>

          </div>

        </div>
      </div>
      <!--手机头部-->
      <div class="top_phone">
        <div class="header_top" style="">
          <a href="//cn.chinadaily.com.cn" shape="rect">
            <img src="//cn.chinadaily.com.cn/image/2021/cnlogo.png" />
          </a>

          <div class="header_img">
            <img src="//cn.chinadaily.com.cn/image/2018/header_top.png" class="nav_phone_logo" />
          </div>
          <img src="//www.chinadaily.com.cn/image_e/2020/share/share.png" style="position: relative;top: 0rem;right: 0.3rem;margin:0;padding:0;width:26px; height:26px;float:right;" class="share-icon" alt="分享到" title="分享到" />
        </div>

        
      <div class="nav">
        <ul>
          <li class="nav_Latest"><a href="//www.chinadaily.com.cn/" target="_blank">China Daily Homepage</a></li>
          <li><a href="https://cn.chinadaily.com.cn/" target="_blank">中文网首页</a></li>
          <li><a href="https://china.chinadaily.com.cn/" target="_blank">时政</a></li>
          <li><a href="https://world.chinadaily.com.cn/" target="_blank">资讯</a></li>
          <li><a href="https://caijing.chinadaily.com.cn/" target="_blank">C财经</a></li>
          <li><a href="https://fashion.chinadaily.com.cn/" target="_blank">生活</a></li>
          <li><a href="https://kan.chinadaily.com.cn/" target="_blank">视频</a></li>
          <li><a href="https://column.chinadaily.com.cn/" target="_blank">专栏</a></li>
          <li><a href="https://language.chinadaily.com.cn/" target="_blank">双语</a></li>
          <li><a href="https://cartoon.chinadaily.com.cn/" target="_blank">漫画</a></li>
          <li><a href="https://cn.chinadaily.com.cn/yuanchuang/" target="_blank">原创</a></li>
          <li><a href="https://cn.chinadaily.com.cn/gtx/" target="_blank">观天下</a></li>
        </ul>
      </div>

    
        <div class="da-bre">
          
            
              <a target="_blank" shape="rect" href="//china.chinadaily.com.cn/5bd5639ca3101a87ca8ff634">评论</a>
            
            
            <a target="_blank" shape="rect" href="https://china.chinadaily.com.cn/5bd5639ca3101a87ca8ff634/5bd5669ba3101a87ca8ff666"> &gt; 海外观察</a>
          
        </div>
      </div>
      <div class="navholder">

      </div>
      <!--下全-->
      <div class="container">
        <!--左边-->
        <div class="container-left2">
          <!--文章页标题-->
          <h1 class="dabiaoti">外国专家：中美合作共赢符合国际社会利益</h1>
          <div class="fenx">
            <div class="xinf-le">
              来源：
      
      
      
      
        
      
      
        
          
            <a href="//cn.chinadaily.com.cn/a/202307/31/WS64c7233ba3109d7585e4733e.html">
              <img src="//img3.chinadaily.com.cn/images/202307/31/64c77908a3109d7518e1e325.jpeg" /></a>
          
        
        
          <a href="//cn.chinadaily.com.cn/gtx/5d63917ba31099ab995dbb29/Chinadaily">中国日报网</a>
        

      

    
        
      
    
    
              
              <!--<th:block th:text="'来源：' +  ${#strings.isEmpty(story.source) ? '网络' : story.source}"></th:block>--></div>
            <div class="xinf-le">2023-11-17 15:13　</div>
            <div class="xinf-ri4"><a title="更多分享平台" href="#" class="more" shape="rect">&nbsp;</a></div>
            <div class="xinf-ri2"><a title="分享到新浪微博" style="cursor:pointer;" target="_blank" shape="rect" href="https://service.weibo.com/share/share.php?appkey=2152474398&amp;type=3&amp;title=外国专家：中美合作共赢符合国际社会利益&amp;pic=http://img3.chinadaily.com.cn/images/202311/17/65571373a310d5acb853dcab.jpeg&amp;url=https://china.chinadaily.com.cn/a/202311/17/WS65571297a310d5acd876f404.html">&nbsp;</a></div>
            <div class="xinf-ri3"><a title="分享到微信" id="weixinqrcode" class="weixinqrcode" href="#" shape="rect">&nbsp;</a></div>
            <div class="xinf-ri">分享</div>
          </div>
          <div class="moreshare">
            <span class="closesharepc">分享到<img src="https://www.chinadaily.com.cn/image_e/2020/timg.jpg" width="20px" height="20px" /></span>
            <a title="分享到QQ空间" target="_blank" shape="rect" href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?title=外国专家：中美合作共赢符合国际社会利益&amp;pics=http://img3.chinadaily.com.cn/images/202311/17/65571373a310d5acb853dcab.jpeg&amp;url=https://china.chinadaily.com.cn/a/202311/17/WS65571297a310d5acd876f404.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/qzone.png" /></a>
            <a title="分享到LinkedIn" target="_blank" shape="rect" href="http://www.linkedin.com/shareArticle?mini=true&amp;title=外国专家：中美合作共赢符合国际社会利益&amp;url=https://china.chinadaily.com.cn/a/202311/17/WS65571297a310d5acd876f404.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/linkedin.png" /></a>
            <a title="facebook" target="_blank" shape="rect" href="https://www.facebook.com/sharer.php?title=外国专家：中美合作共赢符合国际社会利益&amp;u=https://china.chinadaily.com.cn/a/202311/17/WS65571297a310d5acd876f404.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/facebook.png" /></a>
            <a title="twitter" target="_blank" shape="rect" href="https://twitter.com/share?text=外国专家：中美合作共赢符合国际社会利益&amp;url=https://china.chinadaily.com.cn/a/202311/17/WS65571297a310d5acd876f404.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/twitter.png" /></a>
          </div>
          <div id="qrcode" class="qrcode">
            <span>分享到微信<img src="https://www.chinadaily.com.cn/image_e/2020/timg.jpg" width="20px" height="20px" class="qucodeclose" /></span>
            <div id="qrcodearea" class="qrcodearea">
            </div>
          </div>
          <div class="share">
            <div class="share-core">
              <a title="weibo" shape="rect" href="https://service.weibo.com/share/share.php?appkey=2152474398&amp;type=3&amp;title=外国专家：中美合作共赢符合国际社会利益&amp;pic=http://img3.chinadaily.com.cn/images/202311/17/65571373a310d5acb853dcab.jpeg&amp;url=https://china.chinadaily.com.cn/a/202311/17/WS65571297a310d5acd876f404.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/weibo.png" /></a>
              <a title="分享到QQ空间" target="_blank" shape="rect" href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?title=外国专家：中美合作共赢符合国际社会利益&amp;pics=http://img3.chinadaily.com.cn/images/202311/17/65571373a310d5acb853dcab.jpeg&amp;url=https://china.chinadaily.com.cn/a/202311/17/WS65571297a310d5acd876f404.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/qzone.png" /></a>
              <a title="facebook" target="_blank" shape="rect" href="https://www.facebook.com/sharer.php?title=外国专家：中美合作共赢符合国际社会利益&amp;u=https://china.chinadaily.com.cn/a/202311/17/WS65571297a310d5acd876f404.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/facebook.png" /></a>
              <a title="twitter" target="_blank" shape="rect" href="https://twitter.com/share?text=外国专家：中美合作共赢符合国际社会利益&amp;url=https://china.chinadaily.com.cn/a/202311/17/WS65571297a310d5acd876f404.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/twitter.png" /></a>
              <a title="linkedin" target="_blank" shape="rect" href="http://www.linkedin.com/shareArticle?mini=true&amp;title=外国专家：中美合作共赢符合国际社会利益&amp;url=https://china.chinadaily.com.cn/a/202311/17/WS65571297a310d5acd876f404.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/linkedin.png" /></a>
              <a title="mail" target="_blank" shape="rect" href="mailto:?subject=Shared from Chinadaily.com.cn&amp;body=外国专家：中美合作共赢符合国际社会利益%0D%0Ahttps://china.chinadaily.com.cn/a/202311/17/WS65571297a310d5acd876f404.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/mail.png" /></a>
              <!-- <a title="linkedin" th:href="'http://www.linkedin.com/shareArticle?mini=true&amp;title='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img src="//www.chinadaily.com.cn/image_e/2020/share/browser.png"  /></a>
<a title="linkedin" th:href="'http://www.linkedin.com/shareArticle?mini=true&amp;title='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img src="//www.chinadaily.com.cn/image_e/2020/share/more.png"  /></a>		-->
            </div>
            <div class="share-close">
              <span>关闭</span>
            </div>
          </div>
          <script type="text/javascript" src="//www.chinadaily.com.cn/js/2020/qrcode.min.js" xml:space="preserve"></script><!--二维码生成-->
          <script xml:space="preserve">

            $(document).ready(function(){
              $(".more").click(function(){
                if($(".moreshare").css("display")=='block')
                  $(".moreshare").hide();
                else $(".moreshare").show();
              });
              $(".closesharepc").click(function(){
                if($(".moreshare").css("display")=='block')
                  $(".moreshare").hide();
                else $(".moreshare").show();
              });
              $(".weixinqrcode").click(function(){
                /*  $(".moreshare").hide();	*/
                if($(".qrcode").css("display")=='block')
                  $(".qrcode").hide();
                else $(".qrcode").show();
              });
              $(".qucodeclose").click(function(){
                if($(".qrcode").css("display")=='block')
                  $(".qrcode").hide();
              });
              var qrcode = new QRCode(document.getElementById("qrcodearea"), {
                width : 180,
                height : 180
              });
              var curUrl = location.href;
              qrcode.makeCode(curUrl);
              /*以下为手机端分享*/
              $(".share-icon").click(function(){
                if($(".share").css("display")=='block')
                  $(".share").hide();
                else $(".share").show();
              });
              $(".share-close").click(function(){
                $(".share").hide();
              });
              $(".container").click(function(){
                if($(".share").css("display")=='block')
                  $(".share").hide();
              });
              $(".main_art").click(function(){
                if($(".share").css("display")=='block')
                  $(".share").hide();
              });
            });
          </script>
          <!--文章-->

          <div id="Content" class="article">

            
            
            <p>在美国旧金山举行的中美元首会晤吸引了全世界的目光。多名外国专家告诉《中国日报》，中美合作共赢符合国际社会利益，美方应当采取更多行动。</p>
<p><strong>中美合作共赢是大势所趋</strong></p>
<p>美中合作基金会执行主席约翰·米勒-怀特认为，共同繁荣还是互相毁灭，这是两国面临的抉择。众所周知，21世纪的金融往来和军事技术发展让超级大国也无法在冲突中成为赢家。</p>
<p>瑞典“一带一路”研究所副所长侯赛因·阿斯卡里指出，作为全球最大的两个经济体，中美关系几乎会影响每一个国家，这是不可避免的。各国在供应链和贸易运输上相互依存，因此中美两个大国必须深化合作，避免摩擦和直接对抗。</p>
<p>克罗地亚地缘经济论坛主席雅思娜·佩拉夫妮表示，元首会晤的举行本身就是一项重大成就，此次会晤让人们对中美两个大国之间的合作前景更加乐观。中国从未想过构建一个没有美国的多极世界秩序。中美两国有许多共同之处，比如实现联合国可持续发展目标。</p>
<p><strong>美方应当采取更多行动</strong></p>
<p>巴基斯坦人类命运共同体研究中心主任哈立德·泰穆尔·阿克拉姆指出，中美元首旧金山会晤为改善两国关系带来希望。</p>
<p>阿克拉姆认为，媒体应该发挥更具建设性的作用。中国媒体一贯致力于推动中美关系发展，准确而乐观地报道中美合作与发展前景。相较之下，美西方媒体往往对中国采取敌对态度。</p>
<p>在他看来，通过促进互利合作，媒体可以为两国关系止跌企稳作出贡献。这完全符合中美两国及其民众的利益。</p>
<p>亚太“一带一路”共策会会长翁诗杰表示，国际社会高度关注中美如何改善双边关系，并解决全球关注的问题。</p>
<p>他分析称，美国曾以国家安全为幌子威胁“脱钩”和“去风险”，近期又表示不寻求与中国“脱钩”。美方需要作出更令人放心的承诺，并采取更多令人安心的行动。</p>
<p>（编辑：严玉洁 王辉）</p>
            
            <div style="width:100%;text-align:right;font-size:12px;padding-top:20px;">
              【责任编辑：严玉洁】
            </div>
            
      
    
            

          </div>
          <div class="selectpage">
            <!--移动分页-->
            
          </div>
          <!--分页-->

          <!--广告-->


          <div class="fenx">
            <a href="//www.chinadaily.com.cn/mobile_cn/daily.html" target="_blank" class="download" shape="rect"><img src="//cn.chinadaily.com.cn/image/2016/download.jpg" border="0" style="float:left; " /></a>


          </div>

          <!--    <div class="fenx_phone">
<div class="fenx_phone_wb"><a title="分享到新浪微博" onclick="javascript:bShare.share(event,'sinaminiblog',0);return false;" style="cursor:pointer;color:#2e3192;"><img src="//cn.chinadaily.com.cn/image/2018/weibo.png" onclick="javascript:bShare.share(event,'sinaminiblog',0);return false;" alt="分享到新浪微博"  /></a></div>
<div class="fenx_phone_wx"><a href="http://m.chinadaily.com.cn/cn/2014-06/17/content_17013298.htm" target="_blank"><img src="//cn.chinadaily.com.cn/image/2018/wechat.png"  alt="分享到微信" /></a></div>
<script type="text/javascript" charset="utf-8" src="//static.bshare.cn/b/buttonLite.js#uuid=a92f8285-36fe-4168-8f86-8e177d015e67&amp;style=-1"></script>
</div>
-->



          <!--相关文章-->
          <div class="xiangguan">

            <!--横杆标题2-->
            
          </div>







        </div>

        <!--右边-->

        <div class="container-right2">

          <!--中文首页-专题推荐 	5bd54ba2a3101a87ca8ff5ec-->
          <div class="tuijian">
            <!--横杆标题2-->
            <div class="heng-biao4">
              <p>
                
                  <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5bd54ba2a3101a87ca8ff5ec">专题</a>
                
              </p>
            </div>
            <div class="retu">
              
                
                  <div class="speRight">
                    <div class="speRight-p">
                      <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202311/07/WS6549e259a310d5acd876db72.html"><img src="//img3.chinadaily.com.cn/images/202311/07/6549e259a310d5acb8538ecd.jpeg" /></a>
                    </div>
                    <div class="speRight-t">
                      <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202311/07/WS6549e259a310d5acd876db72.html">2023乌镇世界互联网大会</a>
                    </div>
                  </div>
                
                
                  <div class="speRight">
                    <div class="speRight-p">
                      <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202310/18/WS652f8c51a310d5acd876a97a.html"><img src="//img3.chinadaily.com.cn/images/202310/18/652f8c51a310d5acb852e923.jpeg" /></a>
                    </div>
                    <div class="speRight-t">
                      <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202310/18/WS652f8c51a310d5acd876a97a.html">中国妇女第十三次代表大会</a>
                    </div>
                  </div>
                
                
                  <div class="speRight">
                    <div class="speRight-p">
                      <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202309/28/WS6514d811a310936092f2419c.html"><img src="//img3.chinadaily.com.cn/images/202309/28/6514d811a3109360dc06b74e.jpeg" /></a>
                    </div>
                    <div class="speRight-t">
                      <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202309/28/WS6514d811a310936092f2419c.html">2023中秋节</a>
                    </div>
                  </div>
                
                
                  <div class="speRight">
                    <div class="speRight-p">
                      <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202309/25/WS64eef007a3109d7585e4b81b.html"><img src="//img3.chinadaily.com.cn/images/202308/30/64eef007a3109d7518e2c070.jpeg" /></a>
                    </div>
                    <div class="speRight-t">
                      <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202309/25/WS64eef007a3109d7585e4b81b.html">世界看亚运</a>
                    </div>
                  </div>
                
              
            </div>
          </div>
          <div style="clear:both;float:none;">

          </div>
          <!--四个标签切换2-->
          <div class="rc" style="overflow:auto;clear:both;">
            <!--中文首页-当日要闻-要闻 	5bd54bdea3101a87ca8ff5f0-->
            <div class="heng-biao4">
              <p>
                
                  <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5bd54ba2a3101a87ca8ff5ee/5bd54bdea3101a87ca8ff5f0">最热新闻</a>
                
              </p>
            </div>

            <div class="right-lei3">
              
                <ul>
                   <li><a target="_blank" shape="rect" href="//china.chinadaily.com.cn/a/202311/17/WS65571297a310d5acd876f404.html">外国专家：中美合作共赢符合国际社会利益</a></li>
                  
                   <li><a target="_blank" shape="rect" href="//caijing.chinadaily.com.cn/a/202311/17/WS6557102aa310d5acd876f3e7.html">多项促民营经济发展政策举措酝酿出台</a></li>
                  
                   <li><a target="_blank" shape="rect" href="//caijing.chinadaily.com.cn/a/202311/17/WS65571067a310d5acd876f3f2.html">两部门释放加大力度吸引和利用外资积极信号</a></li>
                  
                   <li><a target="_blank" shape="rect" href="//caijing.chinadaily.com.cn/a/202311/17/WS6556fc20a310d5acd876f37d.html">【C财经】世界经济论坛官员：“与华脱钩”是错误认知 应对全球问题需要中美合作</a></li>
                  
                   <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202311/17/WS6556dd69a310d5acd876f352.html">AC313A直升机完成首次高原试飞工作</a></li>
                  
                   <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202311/17/WS6556dcaea310d5acd876f34f.html">第六届空间技术和平利用（健康）国际研讨会即将在京召开</a></li>
                  
                   <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202311/17/WS6556d9f3a310d5acd876f340.html">哥白尼手稿复刻本在北京展出</a></li>
                  
                   <li><a target="_blank" shape="rect" href="//caijing.chinadaily.com.cn/a/202311/17/WS6556c5d9a310d5acd876f2cf.html">【C财经】我国外贸展现较强韧性 贸易结构继续优化</a></li>
                    </ul>
              
            </div>
          </div>




        </div>
        <!--ad-->

      </div>

      <!--底部-->
      
      <div class="dibu">
        <div class="foot">
          <div class="foot-left">
            <div class="en-lo"><a href="https://cn.chinadaily.com.cn" target="_blank"><img src="https://cn.chinadaily.com.cn/image/2016/p-19.jpg" /></a></div>

            <div class="foot-lian"><span><a href="https://cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5f59c820a31009ff9fddf6bc/5f59c843a31009ff9fddf6bf/" target="_blank">关于我们</a></span> 

              <span>|</span> 

              <span><a href="https://cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5f59c820a31009ff9fddf6bc/5f59c843a31009ff9fddf6c2/" target="_blank">联系我们</a></span></div>
          </div>
          <div class="foot-right">
            <div class="foot-one">
              <ul>
                <li><a href="https://cn.chinadaily.com.cn/" target="_blank">首页</a></li>

                <li><a href="https://china.chinadaily.com.cn/" target="_blank">时政</a></li>

                <li><a href="https://world.chinadaily.com.cn/" target="_blank">资讯</a></li>

                <li><a href="https://caijing.chinadaily.com.cn/" target="_blank">财经</a></li>

                <li><a href="https://fashion.chinadaily.com.cn/" target="_blank">生活</a></li>


                <li><a href="https://kan.chinadaily.com.cn/" target="_blank">视频</a></li>

                <li><a href="https://column.chinadaily.com.cn/" target="_blank">专栏</a></li>

                <li><a href="https://language.chinadaily.com.cn/" target="_blank">双语</a></li>
                <li>
                  <a href="https://cn.chinadaily.com.cn/yuanchuang/" target="_blank">独家</a>
                </li>
                <li><a href="https://cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5f59c820a31009ff9fddf6bc/5f59c843a31009ff9fddf6c5" target="_blank">招聘</a></li>
              </ul>
            </div>
            <div class="foot-two">
              
                <ul>
                  <li>地方频道：</li>
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202008/03/WS5bf649baa3101a87ca945947.html">北京</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202008/03/WS5bf649a5a3101a87ca945946.html">天津</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201912/31/WS5bf6490da3101a87ca945945.html">河北</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201911/27/WS5bf6490ca3101a87ca945944.html">山西</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201910/09/WS5bf6490ba3101a87ca945943.html">辽宁</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201909/03/WS5bf6490aa3101a87ca945942.html">吉林</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201908/08/WS5bf64909a3101a87ca945941.html">黑龙江</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201907/24/WS5bf64908a3101a87ca945940.html">上海</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201906/18/WS5bf64908a3101a87ca94593f.html">江苏</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/31/WS5bf64906a3101a87ca94593e.html">浙江</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/30/WS5bf64904a3101a87ca94593d.html">福建</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/28/WS5bf61df5a3101a87ca94593b.html">山东</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/27/WS5bf61d80a3101a87ca94593a.html">河南</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/26/WS5bf61d7fa3101a87ca945939.html">湖北</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/25/WS5bf61d7ea3101a87ca945938.html">湖南</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/24/WS5bf61d7da3101a87ca945937.html">广东</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/23/WS5bf61d7ca3101a87ca945936.html">广西</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/22/WS5bf61d7ba3101a87ca945935.html">海南</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/21/WS5bf61d7aa3101a87ca945934.html">重庆</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/20/WS5bf61c86a3101a87ca945933.html">四川</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/19/WS5bf61c85a3101a87ca945932.html">云南</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/18/WS5bf61c2fa3101a87ca945931.html">贵州</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/17/WS5bf61b9aa3101a87ca945930.html">西藏</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/16/WS5bf61b6ca3101a87ca94592f.html">陕西</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/15/WS5bf61b2ba3101a87ca94592e.html">新疆</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/14/WS5bf619efa3101a87ca94592c.html">深圳</a></li>

                  
                </ul>
              
            </div>
            <div class="foot-two">
              
                <ul>
                  <li>友情链接：</li>
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27c9a3101a87ca947c14.html">央广网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27cba3101a87ca947c15.html">中国西藏网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27c7a3101a87ca947c13.html">中国新闻网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27cda3101a87ca947c16.html">中国台湾网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a2709a3101a87ca947c0e.html">中国经济网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27cfa3101a87ca947c17.html">中国青年网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27fea3101a87ca947c18.html">光明网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a2712a3101a87ca947c0f.html">国际在线</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a2713a3101a87ca947c10.html">央视网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a2716a3101a87ca947c11.html">中国网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a2718a3101a87ca947c12.html">新华网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a0aefa3101a87ca947bd1.html">人民网</a></li>

                  
                </ul>
              

            </div>
            <div class="foot-three">
              <div class="foot-three-left"><a href=""><img src="https://cn.chinadaily.com.cn/image/2016/p-20.jpg" /></a></div>
              <div class="foot-three-right">
                <ul>
                  <!--  <li><a href="//www.12377.cn/" target="_blank">网上有害信息举报专区</a></li>
<li><a href="//about.58.com/fqz/fpzn1.html" target="_blank">防范网络诈骗</a></li> -->
                  <li><a href="https://cn.chinadaily.com.cn/a/202206/16/WS62aaab37a3101c3ee7adad52.html" target="_blank">违法和不良信息举报</a></li> 
                  <li><a href="https://cn.chinadaily.com.cn/image/2023/xwxxfwxkz2023.jpg" target="_blank">互联网新闻信息服务许可证10120170006</a></li>
                  <li>信息网络传播视听节目许可证0108263号</li>	
                  <li><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502032503" target="_blank">京公网安备11010502032503号</a></li>
                  <li>京网文[2011]0283-097号</li>
                  <li><a href="https://beian.miit.gov.cn" target="_blank">京ICP备13028878号-6</a></li>
                  <!-- <li>12300电信用户申诉受理中心</li>
<li><a>12318全国文化市场举报</a></li>
<li><a href="//www.bj.cyberpolice.cn/index.do" target="_blank">网站网络110报警网站</a></li>	
<li><img cms:pr-src="common/img/wza-logo.png" style="width:150px;height:auto;"/></li> -->
                </ul>
              </div>

            </div>
            <div class="foot-four">
              <div class="foot-four-one">中国日报网版权说明：凡注明来源为“中国日报网：XXX（署名）”，除与中国日报网签署内容授权协议的网站外，其他任何网站或单位未经允许禁止转载、使用，违者必究。如需使用，请与010-84883777联系；凡本网注明“来源：XXX（非中国日报网）”的作品，均转载自其它媒体，目的在于传播更多信息，其他媒体如需转载，请与稿件来源方联系，如产生任何问题与本网无关。</div>
            </div>
            <div class="foot-four">
              <div class="foot-four-one">版权保护：本网登载的内容（包括文字、图片、多媒体资讯等）版权属中国日报网（中报国际文化传媒（北京）有限公司）独家所有使用。 未经中国日报网事先协议授权，禁止转载使用。给中国日报网提意见：rx@chinadaily.com.cn</div>
            </div>

          </div>
        </div>
      </div>
    
      
      <div class="dibu-phone">
        <ul class="dibu-phone-one">
          <li><a href="https://cn.chinadaily.com.cn" target="_top">首页</a></li>
          <li><a href="https://china.chinadaily.com.cn" target="_top">时政</a></li>
          <li><a href="https://world.chinadaily.com.cn" target="_top">资讯</a></li>
          <li><a href="https://caijing.chinadaily.com.cn" target="_top">财经</a></li>
          <li><a href="https://fashion.chinadaily.com.cn/" target="_top">文化</a></li>
          <li><a href="https://pic.chinadaily.com.cn" target="_top">图片</a></li>
          <li><a href="https://kan.chinadaily.com.cn" target="_top">视频</a></li>
          <li><a href="https://language.chinadaily.com.cn" target="_top">双语</a></li>
        </ul>
        <div class="dibu-phone-two">
          <a href="https://cn.chinadaily.com.cn" target="_top">中文</a> | <a href="https://www.chinadaily.com.cn" target="_top">English</a>
        </div>
        <div class="copyright">
          中国日报版权所有<br />Content@chinadaily.com.cn
        </div>
      </div>
    
    </div>
    <div id="zd" class="abs" style="display:none;"><a id="totop" title="" shape="rect"></a></div>

    <!--   <th:block th:include="@{|/|}+'common/2017en' :: usercollect"/>	-->
    
      <div style="display:none">
        <script type="text/javascript">
          //<![CDATA[
          document.write(unescape("%3Cscript src='//cl2.webterren.com/webdig.js?z=16' type='text/javascript'%3E%3C/script%3E"));
          //]]>
        </script>
        <script type="text/javascript">
          //<![CDATA[
          wd_paramtracker("_wdxid=000000000000000000000000000000000000000000")
          //]]>
        </script>
      </div>
    
    
      <div style="display:none;">
        <!-- CNZZ统计  开始 -->
        <script src="https://s86.cnzz.com/stat.php?id=1975683&amp;web_id=1975683&amp;show=pic1" language="JavaScript"></script>
        <!-- CNZZ统计  结束 --> 
      </div>
      <script defer="defer" async="async" type="text/javascript" src="https://img2.chinadaily.com.cn/wza/aria.js?appid=0b4dcc17c875352af6dc428bb129ec78" charset="utf-8"></script>
    
    <div id="showBigPic" onclick="zc()">
      <img />
    </div>
    <style xml:space="preserve">
      #showBigPic{
        width: 100%;
        height:100%;
        position:absolute;
        z-index: 99;
        top:0;
        left:0;
        background-color: black;
        background-size:100%;
        display:none;

      }
      #showBigPic img {
        top: 50%;
        position: relative;
        margin-top: -40%;
        width: 100%;
        z-index: 9999;
      }
    </style>
  </body>
  <script type="text/javascript" xml:space="preserve">
    //<![CDATA[
    var H;
    var viewPort = document.querySelector('meta[name=viewport]');
    $('#Content img').click(function(){
      if((navigator.userAgent.match(/(iPhone|iPod|Android|ios|iOS|iPad|Backerry|WebOS|Symbian|Windows Phone|Phone)/i))){
        let c = this.src
        H =  $(document).scrollTop();
        $('#showBigPic').show()
        $('#showBigPic img').attr('src',c)
        $('#all').hide()
        viewPort.setAttribute('content','width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=10.0, user-scalable=yes');
      }
    })
    function zc(){
      $('#showBigPic').hide()
      viewPort.setAttribute('content','width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no');
      $('#all').show()
      $("html, body").scrollTop(H);
    }
    $('#showBigPic img').click(function(e){
      e.stopPropagation()
    })
    //]]>
  </script>
</html>
