name: CI/CD # pipeline's name that will appear in Github Actions

on: # events that trigger our pipeline: push on any branch and release creation
  push:
  release:
    types: [created]
  pull_request:

jobs:
  test:
    # Our test job will run on ubuntu.
    # We define matrix strategy for python-version so that
    # our tests are run on multiple python versions:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v4
      - name: Run image # install poetry
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          uv sync --group test --all-extras
        env:
          SETUPTOOLS_USE_DISTUTILS: local
      - name: Pylint # Run pylint static analysis
        run: |
          uv run pylint newspaper --fail-under=8.0
      - name: mypy  # Run mypy static analysis
        run: |
          uv run mypy  -p newspaper --config-file mypy.ini
        env:
          MYPYPATH: stubs
      - name: Pytest # Run pytest
        run: |
          uv run coverage run -m --source=newspaper pytest tests
          uv run coverage report

  coverage:
    # Our coverage job will only run on push events
    # and on branch main
    # if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run image # install poetry
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: |
          uv sync --group test --all-extras
        env:
          SETUPTOOLS_USE_DISTUTILS: local
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
          PIP_ROOT_USER_ACTION: ignore
      - name: Run coverage
        run: |
          uv run coverage run -m --source=newspaper pytest tests
          uv run coverage report
          uv run coveralls
