name: CI/CD # pipeline's name that will appear in Github Actions

on: # events that trigger our pipeline: push on any branch and release creation
  push:
  release:
    types: [created]
  pull_request:

jobs:
  test:
    # Our test job will run on ubuntu.
    # We define matrix strategy for python-version so that
    # our tests are run on multiple python versions:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"] #"3.9", "3.10", "3.11", "3.12"

    steps:
      - uses: actions/checkout@v5
      - name: Run image # install poetry
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          uv sync --group test --all-extras
          uv pip install coveralls
        env:
          SETUPTOOLS_USE_DISTUTILS: local
      - name: Pylint # Run pylint static analysis
        run: |
          uv run pylint newspaper --fail-under=8.0
      - name: mypy  # Run mypy static analysis
        run: |
          uv run mypy  -p newspaper --config-file mypy.ini
        env:
          MYPYPATH: stubs
      - name: Test + Coverage
        run: |
          uv run coverage run --source=newspaper -m pytest tests
          uv run coverage report

      - name: Upload partial to Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: ${{ matrix.python-version }}
          COVERALLS_PARALLEL: true
        run: uv run coveralls
  finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: |
          uv venv venv
          source venv/bin/activate
          uv pip install --system coveralls
      - name: Finish Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: uv run coveralls --finish
