name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4
      - name: Run image
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build with uv
        run: uv build
      - name: Smoke test (wheel)
        run: uv run --isolated --no-project -p ${{ matrix.python-version }} --with dist/*.whl tests/test_smoke.py
      - name: Smoke test (sdist)
        run: uv run --isolated --no-project -p ${{ matrix.python-version }} --with dist/*.tar.gz tests/test_smoke.py

  publish:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - uses: actions/checkout@v4
      - name: Run image
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.12"
      - name: Build with uv
        run: uv build
      - name: Publish # publish newspaper4k to PyPI
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: uv publish --token $PYPI_TOKEN
